body{
    background-color: rgb(139, 41, 41);
    display: flex;
    justify-items: center;
    align-items: center;
    height: 100vh;
   
}
*{
    font-family: sans-serif;
    box-sizing: border-box;
}
form{
    position: absolute;
    width: 800px;
    height: 650px;
    border: 1px solid;
    padding: 10px;
    border-radius: 20px;
    background: rgb(189, 185, 185);
    left: 380px; 
    top: 80px;
}
.imgs{
    position: relative;
}
img{
    position: absolute;
    width: 602px;
    height: 578px;
    left: 95px;
    bottom: -469px;
    
}
.first{
    position: relative;
}
.g{
    position: absolute;
    width: 245px;
    height: 52px;
    left: 100px;
    top: 43px;
    border-radius: 10px;
    background: rgba(255, 255, 255, 0.9);
}
.second{
    position: relative;
}
.h{
    position: absolute;
    width: 245px;
    height: 52px;
    left: 360px;
    top: 43px;
    border-radius: 10px;
    background: rgba(255, 255, 255, 0.9);
}
.third{
    position: relative;
}
.y{
    position: absolute;
    width: 245px;
    height: 52px;
    left: 100px;
    top: 113px;
    border-radius: 10px;
    background: rgba(255, 255, 255, 0.9);
}
.forth{
    position: relative;
}
.u{
    position: absolute;
    width: 305px;
    height: 52px;
    left: 100px;
    top: 190px;
    border-radius: 10px;
    background: rgba(255, 255, 255, 0.9);
}
.fifth{
    position: relative;
 
}
.r{
    position: absolute;
    width: 245px;
    height: 52px;
    left: 100px;
    top: 257px;
    border-radius: 10px;
    background: rgba(255, 255, 255, 0.9);
}
.six{
    position: relative;
}
.s{
    position: absolute;
    width: 245px;
    height: 52px;
    left: 360px;
    top: 257px;
    border-radius: 10px;
    background: rgba(255, 255, 255, 0.9);
}
.z{
    position: relative;
}
.j{
    position: absolute;
    width: 511px;
    height: 45px;
    left: -36px;
    top: -25px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 38px;
    line-height: 46px;
    text-align: center;
}

.l{
    display: inline-block;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 800;
    font-size: 32px;
    line-height: 39px;
    margin: 42px;
   
    
}
.as{
    position: relative;
}
button {
    position: absolute;
    padding: 1.3em 3em;
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 2.5px;
    font-weight: 500;
    color: #000;
    background-color: #fff;
    border: none;
    border-radius: 45px;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    transition: all 0.10s ease 0s;
    cursor: pointer;
    outline: none;
    left: 500px;
    top: 394px;

  }
  
  button:hover {
    background-color: #23c483;
    box-shadow: 0px 15px 20px rgba(46, 229, 157, 0.4);
    color: #fff;
    transform: translateY(-7px);
  }
  
  button:active {
    transform: translateY(-1px);
  }
  .ui{
    position: relative;
  }
  .gm{
    position: absolute;
width: 824px;
height: 67px;
left: -80px;
top: 329px;

font-family: 'Inter';
font-style: normal;
font-weight: 800;
font-size: 16px;
text-align: center;

color: #000000;
  }